<html>
<head>
    <title>EMC DPO Manager</title>
    <meta charset="utf-8">
</head>
<body>
<h2>This is the Emercoin Digital Proof-of-Ownership Management Engine</h2>
{% block body %}{% endblock body %}
</body>
</html>