{% extends 'base.twig' %}
{% block body %}
<body class="green-bg">
    <a href="{{ path('show_key', {key: global.request.get('key')}) }}">
	    <div class="btn-back btn-back-panel white upper"><i class="material-icons">keyboard_backspace</i> back</div>
    </a>
	<div class="one-column white message">
		<h1><i class="material-icons">done</i> Success</h1>
		<p>Item is in the process of activation now. It may take a while for an item description to get updated (10-20 minutes).</p>
		<p>After that item description page will change its background color to blue.</p>
		<p>Thank you for your patience!</p>
		<a href="{{ path('show_key', {key: global.request.get('key')}) }}">
		    <div class="btn btn-white-green upper btn-back">Go back</div>
		</a>
	</div>
{% endblock %}
