<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.85, maximum-scale=0.85, user-scalable=0">
        <title>EMC DPO Manager</title>
        <link rel="stylesheet" type="text/css" href="{{ global.request.basepath }}/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="yellow-bg">
	<div class="one-column">
		<div class="logo logo-black"></div>
		<h1 class="black upper">Emercoin</h1>
		<h3 class="black upper">Digital Proof-of-Ownership</h3>
		<div class="error black">
			<h1><i class="material-icons">warning</i>Settings Error</h1>
			<span>Check your settings file located at <strong>%DOCUMENT_ROOT%/engine/src/settings.php</strong></span>
		</div>
	</div>
</body>
</html>
