/* General styles */

html {
	-webkit-text-size-adjust: none;
}

* {
  box-sizing: border-box;
  font-family: "RobotoRegular", sans-serif;
}

@font-face {
    font-family: "RobotoBlack";
    src: url('fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: "RobotoRegular";
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "RobotoLight";
    src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: "PTMonoBold";
    src: url('fonts/pt-mono.bold.ttf') format('truetype');
}

.upper { text-transform: uppercase }

.logo {
	width: 54px;
	height: 46px;
	border: none;
	outline: none;
	display: inline-block;
	background-image: url("img/logo.png");
	-webkit-background-size: 200%;
	background-size: 200%;
	background-repeat: no-repeat;
}

.logo-black {
	background-position: -54px 0;
}

h1 {
	font: 2em "RobotoBlack", sans-serif;
	letter-spacing: 0.12em;
	margin: 0;
	line-height: 150%;
}

h2 { 
	font: 2em "RobotoLight", sans-serif;
}

h3 {
	font: 0.875em "RobotoBlack", sans-serif;
	letter-spacing: 0.2em;
	margin: 0.5em;
}

.header-wide {
	width: 200%;
	margin-left: -50%;
}

.yellow-bg { background-color: #ffeb3b }

.green-bg { background-color: #009688 }

.blue-bg { background-color: #2196f3 }

.black { color: #000 }

.pink { color: #9467aa }

.blue { color: #2196f3 }

.white { color: #fff }

.green { color: #009688 }

.pale-white { color: rgba(255,255,255,0.5) }

.align-left { text-align: left !important }

a {
    text-decoration: none;
    border: none;
    outline: none;
}

/* Blocks and columns */

.one-column {
	margin: 4em auto 0;
	width: 24em;
	text-align: center;
}

.multi-columns {
	margin: 4em auto 0;
	width: 65em;
}

.multi-columns .colgroup {
	display: table-row;
}

.multi-columns .column {
	width: 24.5em;
	padding-right: 8em;
	display: table-cell;
	vertical-align: top;
}

.multi-columns .column:last-child {
	padding-right: 0 !important;
	width: 16.5em !important;
}

.multi-columns .column p {
	font: 1em "RobotoRegular", sans-serif;
	word-wrap: break-word;
	width: 16em;
}

.multi-columns .round-icon i {
	font-size: 2.5em;
	position: relative;
	top: 0.3em;
}

.multi-columns .round-icon {
	position: absolute;
	margin-left: -6em;
	margin-top: -1em;
	height: 4em;
	width: 4em;
	border-radius: 2em;
	background-color: #fff;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

.multi-columns .round-icon img {
	width: 100%;
	position: relative;
	display: inline-block;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
}

.multi-columns h4 {
	font: 1.7em "RobotoLight", sans-serif;
	line-height: 100%;
	margin-bottom: 1em;
}

.multi-columns label {
	font-size: 0.8em;
	letter-spacing: 0.1em;
}

.multi-columns label::before,
.multi-columns .topline::before {
	content: "";
	border-top: 0.0625em solid rgba(255,255,255,0.5);
	width: 100%;
	display: block;
	padding-bottom: 1em;
}

.multi-columns .no-topline::before {
	border: none;
}

.multi-columns .preview {
	width: 18.5em;
	height: 18.5em;
	background: #fff;
	border-radius: 9em;
	margin-top: -5em;
	display: inline-block;
	overflow: hidden;
}

.multi-columns .preview img {
	width: 100%;
	position: relative;
	display: inline-block;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
}

.mobile-info,
.mobile-bg {
	display: none;
}

.error {
	display: none;
	width: 100%;
	text-align: left;
}

body.yellow-bg .error {
	display: block;
}

.message {
	text-align: left;
}

.message p {
	font: 1em "RobotoRegular", sans-serif;
	line-height: 150%;
}

.error h1 i,
.message h1 i {
	font-size: 2em;
	vertical-align: middle;
	margin: 0.3em 0.5em 0.3em 0;
}

.error h1,
.message h1 {
	font: 2em "RobotoLight", sans-serif;
	letter-spacing: 0em;
}

.error span {
	font: 0.875em "RobotoRegular", sans-serif;
	line-height: 150%;
}

.popup-overlay {
	display: none;
}

/* UI elements */

.txt-pink input {
	border-bottom: 0.0625em solid #ce93d8 !important;
}
.txt-pink label {
	color: #ce93d8;
}
.txt-pink .bar:before,
.txt-pink .bar:after {
	background: #ce93d8;
}

.txt-gray input {
	border-bottom: 0.0625em solid #757575 !important;
}
.txt-gray label {
	color: #757575;
}
.txt-gray .bar:before,
.txt-gray .bar:after {
	background: #757575;
}

.txt-white input {
	border-bottom: 0.0625em solid rgba(255,255,255,0.5) !important;
	color: #fff;
	text-align: left !important;
}
.txt-white label {
	text-align: left !important;
	color: rgba(255,255,255,0.5);
}
.txt-white .bar:before,
.txt-white .bar:after {
	background: rgba(255,255,255,0.5);
}
.txt-white input:focus ~ label {
	color: #fff;
}

.txt-input {
	font: 1em "RobotoRegular", sans-serif;
	position: relative;
	margin-top: 3em;
}

.txt-input input {
	font-size: 1.125em;
	text-align: center;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-radius: 0;
	background: transparent;
}

.txt-input input:focus,
.txt-input input:required {
	box-shadow: none;
	outline: none;
}

.txt-input label {
	font: 1.12em "RobotoBlack", sans-serif;
	letter-spacing: 0.1em;
	text-align: center;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0px;
	top: 10px;
	width: 100%;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.txt-input input:focus ~ label,
.txt-input input:valid ~ label {
	top: -1.25em;
	font-size: 0.75em;
}

.txt-input .bar {
	position: relative;
	display: block;
	width: 100%;
}

.txt-input .bar:before,
.txt-input .bar:after {
	content: '';
	height: 0.125em;
	width: 0;
	bottom: 1px;
	position: absolute;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.txt-input .bar:before {
	left: 50%;
}

.txt-input .bar:after {
	right: 50%;
}

.txt-input input:focus ~ .bar:before,
.txt-input input:focus ~ .bar:after {
	width: 50%;
}

.hide-pwd {
	position: absolute;
	top: 10px;
	right: 0;
	cursor: pointer;
	color: rgba(255,255,255,0.5);
}

.hide-pwd:hover {
	color: #fff;
}

.btn {
	font: 0.875em "RobotoBlack", sans-serif;
	border-radius: 2em;
	padding: 1em;
	border: none;
	outline: none;
	margin-top: 4em;
	width: 100%;
	cursor: pointer;
	letter-spacing: 0.15em;
	opacity: 1;
	text-align: center;
}

.btn:hover {
	opacity: 0.9;
	transition: all 0.05s ease;
}

.btn-pink-inactive {
	background-color: #f3e5f5;
	color: #e1bee7;
}

.btn-pink-active {
	background-color: #ba68c8;
	color: #fff;
}

.btn-black-inactive {
	background-color: #bdbdbd;
	color: #fff;
}

.btn-black-active {
	background-color: #000;
	color: #fff;
}

.btn-green {
	background-color: #009688;
	color: #fff;
	margin: 1em;
	width: calc(100% - 2em);
}

.btn-white-green {
	background-color: #fff;
	color: #009688;
	margin-top: 3em;
}

.btn-white-blue {
	background-color: #fff;
	color: #2196f3;
	margin-top: 3em;
}

.btn-back-panel {
	font-size: 0.9em;
	letter-spacing: 0.1em;
	border-radius: 1em;
	background-color: rgba(0, 0, 0, 0.25);
	display: inline-block;
	padding: 0.1em 0.5em;
	position: absolute;
	top: 2em;
	left: 2em;
	cursor: pointer;
}

.btn-back-panel i {
	vertical-align: -28%;
}

/* Popup */

.popup-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
}

.popup-window {
    position: absolute;
    margin: 0 auto 5vw;
    display: inline-block;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 0.7em;
    width: 24em;
    overflow: hidden;
}

.popup-window .close {
    display: inline-block;
    float: right;
    cursor: pointer;
}

.popup-window .close i {
    vertical-align: middle;
}

.popup-window .outer-container {
    height: calc(100% - 4.5em);
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
}

#message .outer-container {
    position: static;
}

.popup-window .inner-container {
    max-height: 100%;
    overflow: auto;
}

.popup-window h2 {
    padding: 0.5em 0.5em 0.3em;
    margin: 0 auto;
}

.popup-green h2 {
    border-bottom: 4px solid #009688;
}

.popup-blue h2 {
    border-bottom: 4px solid #2196f3;
}

.popup-window .row {
    border-top: 1px solid #999;
    padding: 0.5em 1em;
}

.popup-window .row p {
    margin: 0.3em 0;
    font-size: 1.2em;
    line-height: 150%;
    text-align: justify;
    word-wrap: break-word;
}

.popup-window .row span {
    letter-spacing: 0.05em;
}

.popup-window .gray {
    color: #999;
    letter-spacing: 0.1em;
    font-size: 0.9em;
}

.popup-blue .btn-row {
    border-top: 2px solid #2196f3;
}

.popup-window .btn-white-blue {
    margin-top: 0 !important;
}

/* Mobile layout */

@media screen and (max-device-width: 420px) {
	::-webkit-scrollbar {
	    width: 0.6em;
	    height: 0.6em;
	    background-color: transparent;
	}

	::-webkit-scrollbar-thumb:vertical {
	    background-color: rgba(153,153,153,0.4);
	    border-radius: 0.7em;
	    border-color: transparent;
	    min-height: 2em;
	    padding: 5px;
	}

	.mobile-blank-bg {
		background-color: transparent !important;
	}

	.mobile-paleblue-bg {
		background-color: rgba(33,150,243,0.6) !important;
	}

	.mobile-greenblue-bg {
		background-color: rgba(0,150,136,0.6) !important;
	}

	.mobile-bg {
		position: fixed;
		top: 0; left: 0;
		width: 100%; height: 100%;
		display: block;
		z-index: -1;
	}

	.mobile-paleblue-bg .mobile-bg {
		background-color: #2196f3;
	}

	.mobile-palegreen-bg .mobile-bg {
		background-color: #009688;
	}

	.mobile-bg .blue-overlay {
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		z-index: 3;
		background-color: rgba(33,150,243,0.7);
	}

	.mobile-bg .green-overlay {
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		z-index: 3;
		background-color: rgba(0,150,136,0.7);
	}

	.one-column {
		width: 100%;
		margin-top: 1em;
	}

	body {
		margin: 1em;
	}

	.btn, .txt-input {
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.btn-back-panel {
		top: 1em;
		left: 1em;
		z-index: 10;
		background-color: rgba(0,0,0,0.4);
	}

	h1 {
		margin-top: 1.5em;
	}

	.header-wide {
		width: 100%;
		margin-top: 2em;
		margin-left: 0;
		text-align: left;
	}

	.multi-columns {
		display: none;
	}

	.mobile-info {
		display: block;
		width: 100%;
		margin-top: 1em;
	}

	.mobile-preview {
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 60vw;
		overflow: hidden;
		z-index: 1;
	}

	.mobile-preview img {
		width: 100%;
	}

	.blur-overlay {
		position: absolute;
		top: 60vw;
		left: 0;
		width: 100%;
		height: 40vw;
		overflow: hidden;
		z-index: 2;

		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
	}

	.blur-overlay img {
		margin-top: -60vw;
		width: 100%;
	}

	.mobile-bg .blur-overlay {
		top: 0;
		height: 100vw;
	}

	.mobile-bg .blur-overlay img {
		margin-top: 0;
	}

	.gradient-overlay-green,
	.gradient-overlay-blue {
		position: absolute;
		top: 60vw;
		left: 0;
		width: 100%;
		height: 43vw;
		overflow: hidden;
		z-index: 3;
	}

	.gradient-overlay-blue {
		background: -moz-linear-gradient(top,  rgba(33,150,243,0) 0%, rgba(33,150,243,1) 75%, rgba(33,150,243,1) 100%);
		background: -webkit-linear-gradient(top,  rgba(33,150,243,0) 0%,rgba(33,150,243,1) 75%,rgba(33,150,243,1) 100%);
		background: linear-gradient(to bottom,  rgba(33,150,243,0) 0%,rgba(33,150,243,1) 75%,rgba(33,150,243,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196f3', endColorstr='#2196f3',GradientType=0 );
	}

	.gradient-overlay-green {
		background: -moz-linear-gradient(top,  rgba(0,150,136,0) 0%, rgba(0,150,136,1) 75%, rgba(0,150,136,1) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,150,136,0) 0%,rgba(0,150,136,1) 75%,rgba(0,150,136,1) 100%);
		background: linear-gradient(to bottom,  rgba(0,150,136,0) 0%,rgba(0,150,136,1) 75%,rgba(0,150,136,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009688', endColorstr='#009688',GradientType=0 );
	}

	.mobile-bg .gradient-overlay-green,
	.mobile-bg .gradient-overlay-blue {
		top: 30vw;
		height: 74vw;
	}

	.mobile-green-bg,
	.mobile-blue-bg {
		z-index: 1;
		position: absolute;
		left: 0; top: 100vw;
		width: 100%;
		height: calc(100% - 100vw);
	}

	.no-photo .mobile-green-bg,
	.no-photo .mobile-blue-bg {
		top: 0 !important;
		height: 100vh !important;
	}

	.mobile-green-bg {
		background-color: #009688;
	}

	.mobile-blue-bg {
		background-color: #2196f3;
	}

	.mobile-description {
		width: 100%;
		z-index: 5;
		position: absolute;
		left: 0; top: 60vw;
		padding: 0 1em;
	}

	.no-photo .mobile-description {
		top: 10vw !important;
	}

	.green-bg .mobile-description {
		background-color: rgba(0,150,136,0.65);
	}

	.blue-bg .mobile-description {
		background-color: rgba(33,150,243,0.65);
	}

	.mobile-description .row {
		margin: 0 0 4em;
		padding-left: 6em;
	}

	.blue-bg .mobile-description .row:nth-child(2) {
		margin-bottom: 2em;
	}

	.blue-bg .mobile-description .row:nth-child(3) {
		margin-bottom: 0em;
	}

	.blue-bg .mobile-description .row:nth-child(4) {
		margin: 0;
	}

	.mobile-description .separated {
		padding: 0.7em 1.5em;
		line-height: 175%;
		width: calc(100% + 2em);
		margin-left: -1em;
		left: 0;
		border-top: 0.0625em solid rgba(255,255,255,0.5);
		border-bottom: 0.0625em solid rgba(255,255,255,0.5);
	}

	.blue-bg .mobile-description p {
		margin: 0.2em 0;
	}

	.blue-bg .mobile-description h5 {
		margin-bottom: 0;
	}

	.green-bg .mobile-description .row:nth-child(3) {
		margin-bottom: 3em !important;
	}

	.mobile-description .btn-row .btn {
		margin-top: 0 !important;
	}

	.mobile-description .round-icon i {
		font-size: 3em;
		position: relative;
		top: 0.2em;
	}

	.mobile-description .round-icon {
		position: absolute;
		margin-top: -0.5em;
		margin-left: -4.8em;
		height: 4em;
		width: 4em;
		border-radius: 2em;
		background-color: #fff;
		text-align: center;
		vertical-align: middle;
		overflow: hidden;
	}

	.mobile-description .round-icon img {
		width: 100%;
		position: relative;
		display: inline-block;
		top: 50%; left: 50%;
		transform: translate(-50%,-50%);
	}

	.mobile-description h5 {
		font: bold 1.2em "RobotoRegular", sans-serif;
		line-height: 130%;
		margin-bottom: 1em;
		letter-spacing: 0.02em;
	}

	.mobile-description h4 {
		font: 0.9em "RobotoBlack", sans-serif;
		line-height: 100%;
		margin-bottom: 1em;
		letter-spacing: 0.05em;
	}

	.popup-window {
		width: 90vw !important;
		min-height: 35vh !important;
		max-height: calc(100vh - 10vh) !important;
	}
}
